p
{
	border-radius: 15px;
	color:#015DFE;  
	font-size:1.1em;   
	background-color:#02F2FF;
	background-repeat:no-repeat;
}

table { 
	border-radius: 15px;
	font-size:1.1em;
    color:#015DFE;       
	background-color:#02F2FF;	
	padding:20px;
}

table.comment {
	margin-left:20%;
	margin-right:20%; 
	padding:5px 20px 5px 15px;
}

span.username
{
	font-size:.625em;
	color:#015DFE;       
	background-color:#02F2FF;
	padding:0px 10px 0px 30px;	
}

span.comments
{
	padding:10px 10px 10px 0px;
	margin-bottom:18px;
}